<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		h1 Страницы:
		ul
			li
				a(href="./directory_page.pug") Список файлов (1.1 + 1.2 + 1.3)
			li
				a(href="./directory_page_w_readme.pug") Навигация по папкам + файл README (1.4)
			li
				a(href="./file_inspection_page.pug") Просмотр деталей файла (1.5)
			li
				a(href="./file_history_page.pug") Просмотр истории изменений файла (1.6)
			li
				a(href="./branches_page.pug") Список веток (2.1)
			li
				a(href="./commit_page.pug") Страница коммита (3.1)
			li
				a(href="./directory_structure.pug") Вариант вида списка папок, если не получится прокинуть все данные для таблицы
	body
