.DirectoryTitle.DirectoryTitle_space-t_s
	.DirectoryTitle-Name
		span.Text.Text_size_xl
			strong arcadia
	.DirectoryTitle-Branch.DropdownBlock.DropdownBlock_color_pale
		span.Text.Text_size_xl.Text_color_secondary trunk
		.DropdownBlock-Overlay
		ul.DropdownBlock-Menu
			.DropdownBlock-MenuHandle
				.DropdownBlock-HandleBar
			li.DropdownBlock-MenuItem Trunk
			li.DropdownBlock-MenuItem users/rudskoy/DEVTOOLS-43865
			li.DropdownBlock-MenuItem users/rudskoy/DEVTOOLS-37948
			li.DropdownBlock-MenuItem users/rudskoy/DEVTOOLS-94877
			li.DropdownBlock-MenuItem users/rudskoy/DEVTOOLS-87450
			li.DropdownBlock-MenuItem users/rudskoy/DEVTOOLS-27073
