.DirectoryTitle.DirectoryTitle_space-t_s
	.DirectoryTitle-Name
		span.Text.Text_size_xl
			strong arcadia
	.DirectoryTitle-Branch.DropdownBlock.DropdownBlock_color_pale
		span.Text.Text_size_xl.Text_color_secondary trunk
		.DropdownBlock-Overlay
		ul.DropdownBlock-Menu.DropdownBlock-Menu_view_branches
			.DropdownBlock-MenuHandle
				.DropdownBlock-HandleBar
			li.DropdownBlock-MenuItem.DropdownBlock-MenuItem_current
				.DropdownBlock-BranchName Trunk
				.DropdownBlock-LastUpdate Last commit on Jan 11, 12:01
			.DropdownBlock-Delimeter
			li.DropdownBlock-MenuItem 
				.DropdownBlock-BranchName users/rudskoy/DEVTOOLS-43865
				.DropdownBlock-LastUpdate Last commit on Jan 11, 12:01
			li.DropdownBlock-MenuItem
				.DropdownBlock-BranchName users/rudskoy/DEVTOOLS-37948
				.DropdownBlock-LastUpdate Last commit on Jan 11, 12:01
			li.DropdownBlock-MenuItem
				.DropdownBlock-BranchName users/rudskoy/DEVTOOLS-94877
				.DropdownBlock-LastUpdate Last commit on Jan 11, 12:01
			li.DropdownBlock-MenuItem
				.DropdownBlock-BranchName users/rudskoy/DEVTOOLS-87450
				.DropdownBlock-LastUpdate Last commit on Jan 11, 12:01
			li.DropdownBlock-MenuItem
				.DropdownBlock-BranchName users/rudskoy/DEVTOOLS-87450
				.DropdownBlock-LastUpdate Last commit on Jan 11, 12:01
			li.DropdownBlock-MenuItem
				.DropdownBlock-BranchName users/rudskoy/DEVTOOLS-87450
				.DropdownBlock-LastUpdate Last commit on Jan 11, 12:01
			li.DropdownBlock-MenuItem
				.DropdownBlock-BranchName users/rudskoy/DEVTOOLS-87450
				.DropdownBlock-LastUpdate Last commit on Jan 11, 12:01
