.CommitContainer-NavigateButton {
	display: flex;
	align-items: center;

	cursor: pointer;
}

.CommitContainer-NavigateButton:last-of-type {
	margin-left: 32px;
}

.CommitContainer-NavigateButton svg {
	margin-right: 8px;
}

@media screen and (max-width: 780px) {
	.CommitContainer-NavigateButton {
		display: none;
	}
}
