.Footer-Element.Footer-Element_space-r_xxl.Footer-AddressBlock
    span.Text.Text_size_xxxs.Text_color_secondary Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021
.Footer-Element.Footer-Element_space-r_xxl.Footer-Version
    span.Text.Text_size_xxxs.Text_color_secondary UI: 0.1.15
.Footer-Element.Footer-Element_space-r_xxl.Footer-Copyright
    span.Text.Text_size_xxxs.Text_color_secondary &copy; 2007&mdash;2019 #[a(href="#").Link.Link_color_blue Yandex]
