.ShowFilesButton {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	min-width: 175px;
	height: 28px;
	margin-left: 5px;
	padding: 8px 12px;

	font-size: 13px;
	line-height: 15px;

	background-color: #e6e6e6;
	border-radius: 4px;
}

.ShowFilesButton:hover {
	background-color: #c5c5c5;
	cursor: pointer;
}

.ShowFilesButton .Text {
	margin-left: 6px;

	white-space: nowrap;
}
